* {
  font-family: sans-serif;
}

#dice {
  margin: auto;
  margin-top: 75px;
  width: 500px;
  box-shadow: 0px 0px 15px #ddd;
  padding-bottom: 5px;
}
#dice > h1 {
  text-align: center;
  font-size: 3.5em;
  padding: 15px;
  background: #ddd;
}
#dice > form {
  margin: auto;
  width: 450px;
  text-align: center;
}
#dice > form > span {
  padding: 10px;
  font-size: 1.5em;
}
#dice > form > button {
  border: none;
  border-radius: 50%;
  font-size: 2em;
  color: #fff;
  background: #f65336;
  width: 45px;
  height: 45px;
  cursor: pointer;
}
#dice > form > button:hover {
  background: #de683c;
}
#dice #message {
  color: #ff0000;
  font-size: .85em
}

#dice input {
  padding: 10px;
  text-align: center;
  font-size: 1em;
  width: 125px;
  border: none;
  border-bottom: solid #6c6cf1 2px;
}
#dice #diceCollection {
  font-size: 1.5em;
  letter-spacing: 1px;
  text-align: center;
}
#dice #extras {
  text-align: center;
  margin: auto;
  padding: 15px;
}
#dice #extras button {
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  width: 65px;
  font-size: 1em;
  font-weight: bolder;
}
#dice #roll {
  background: #8ad15a;
  color: #fff;
}
#dice #roll:hover {
  background: #97c975;
}
#dice #clear {
  background: #6c6cf1;
  color: #fff;
}
#dice #clear:hover {
  background: #8484f9;
}
#dice #resultPane {
  margin: 25px;
  padding: 25px;
  background: #ddd;
  /*box-shadow: 0px 0px 5px #ddd;*/
  font-size: 1.5em;
  text-align: center;
}
#footer {
  text-align: center;
}
